#btnClose{
    float: right;
    margin-right: 2%;
    margin-top: 2vh;
    font-size: 2rem;
    font-weight: 600;
    cursor: pointer;
}

.submitForm{
    border-radius: 5px;
    padding: 3px;
    box-shadow: none;
    border: 0 none;
    outline: 0;
}