h1{
    font-family: $ParisFont;
    text-align: center;
    font-size: 4rem;
}

h2{
    font-family: $ParisFont;
    text-align: center;

    margin-top: 2vh;
}

h3{
    font-family: $ParisFont;
    font-weight: 100;
}